@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600;800&display=swap');

html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #141414;
    color: #fff;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.loading-screen {
    position: relative;
    padding: 0;
    background-image: linear-gradient(135deg, #e09, #d0e);
    width: 0%;
    height: 100%;
}

.load-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 10;
    pointer-events: none;
}

/* typography */
h1 {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 84px;
    letter-spacing: 26px;
    text-transform: uppercase;
}

.button {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button a {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 20px 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 10px;
    transition: 0.3s;
}

.button:hover a {
    background: #fff;
    color: #141414;
    transition: 0.3s;
}